header.header
    .header__column
        ul
            li
                a(href="#")
                    i.fab.fa-facebook-f
            li
                a(href="#")
                    i.fas.fa-bold
            li
                a(href="#")
                    i.fab.fa-youtube
    .header__column
        ul
            li
                a(href="#")
                    span KOR
            li
                a(href="#")
                    span ENG
            li
                a(href="#")
                    span CHN