doctype html
html
    head
        script(src="https://kit.fontawesome.com/adb29b0c29.js", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/css/styles.css")
        title 우정식품
    body
        include ../partials/header
        main
            include ../partials/company_title
            block company
        include ../partials/footer
        script(src="/static/js/header.js")
        script(src="/static/js/footer.js")