extends layouts/sub

block sub
    .intro__title.sub__header
        h1
        p
        ul
            li.on
                a(href=`/intro${routes.brand}`) 브랜드 소개
            li
                a(href=`/intro${routes.prd_process}`) 제조공정
    section.sub__section
        .sub__title
            h1 브랜드 소개
        .brand__wrapper
            .brand__bg
                p
                    | 우정식품을 대표하는
                    br
                    span 기업의 패밀리 브랜드
                    | 로서 런칭되었습니다.
                p
                p 푸름찬은 당면 분야에 있어서 최고의 전문성을 갖고 있다는 자부심과 경영에 있어서 정직을 중요시하는 이념을 바탕으로 제품뿐만 아니라 우정식품을 대표하는 기업의 패밀리 브랜드로서 런칭되었습니다.
            .brand__logo
                img(src="/static/images/sub/brand_logo.png")
            .brand__title
                img(src="/static/images/sub/brand_img01.png")
                p
                    | 푸름찬은 
                    span 푸르름이 온 세상에 가득차 있다.
                    br
                    | 라는 의미에서 출발하였습니다.
                img(src="/static/images/sub/brand_img02.png")
            p.brand__line
            .brand__text
                p
                    | 깨끗한 환경뿐만 아니라 깨끗하고 건강한 먹거리도 중요합니다.
                    br
                    | 따라서 깨끗한 환경에서 만들어진 건강한 식품이 각 가정의 식단까지
                    br
                    | 푸르른 건강함으로 가득 채워서 인간이 건강하고 행복하게 살기를 바라는 의지를 담았습니다.
            .brand__vision
                ul
                    li
                        img(src="/static/images/sub/brand_img03.png")
                    li
                        img(src="/static/images/sub/brand_img04.png")
                    li
                        img(src="/static/images/sub/brand_img05.png")