extends layouts/sub

block sub
    .company__title.sub__header
        h1
        p
        ul
            li.on
                a(href=`/company${routes.ceo}`) CEO 인사말
            li
                a(href=`/company${routes.history}`) 회사연혁
            li
                a(href=`/company${routes.certification}`) 표창/인증/특허
            li
                a(href=`/company${routes.local}`) 오시는 길
    section.ceo
        .sub__section
            .sub__title
                h1 CEO 인사말
            .ceo__greeting
                .greeting__column
                    img(src="/static/images/sub/ceo_img01.png")
                .greeting__column
                    .greeting__title
                        p   
                            | 최고의 맛을 찾기 위해
                            br
                            | 정성과 열정으로 끊임없이
                            br
                            | 노력하겠습니다.
                    .greeting__text
                        p
                            | ㈜우정식품은 고구마 전분 등 질 좋은 재료와 최신식 제조설비를 갖추고 전 직원들이 정성과 사랑을 담아 제품을 생산하고 있습니다.
                            br
                            br
                            | 우리회사는 1990년 창립 후 2003년 '푸름찬' 상표를 등록하였으며, 제품의 우수성을 인정받아 보건복지부 장관 및 중소벤처기업부 장관 표창을 수상하였습니다.
                            br
                            br
                            | 2008년에는 유망중소기업 선정 및 기술혁신형 중소기업(INNO-BIZ)으로 인증 받은데 이어 당면과 관련 총 9종의 특허를 등록하는 한편 2017년에는 공장을 신축 이전하고 스마트 공장을 구축(2018년) 하는 등 제품 자동화의 기틀을 마련하였습니다.
                            br
                            br
                            | 또한 2019년에는 국제 식품안전경영시스템(FSSC-22000) 및 식품안전관리기준(HACCP) 적용 업체로 인증받는 등 명실상부 제품의 위생과 안전을 국내외적으로 인정받고 있습니다.
                            br
                            br
                            | 우리회사는 앞으로도 정직한 먹거리를 제공함으로써 고객 여러분께 행복한 생활을 누릴 수 있도록 약속드리며, 건강한 식생활 문화를 선도하는 기업으로서 더욱 발돋움 하겠습니다.
            .ceo__vision
                .vision__title
                    img(src="/static/images/sub/add_tit_line_left.png")
                    span 비전
                    img(src="/static/images/sub/add_tit_line_right.png")
                ul
                    li
                        img(src="/static/images/sub/ceo_img02.png")
                    li
                        img(src="/static/images/sub/ceo_img03.png")
                    li
                        img(src="/static/images/sub/ceo_img04.png")