extends layouts/sub

block sub
    .company__title.sub__header
        h1
        p
        ul
            li
                a(href=`/company${routes.ceo}`) CEO 인사말
            li
                a(href=`/company${routes.history}`) 회사연혁
            li.on
                a(href=`/company${routes.certification}`) 표창/인증/특허
            li
                a(href=`/company${routes.local}`) 오시는 길
    section.sub__section
        .sub__title
            h1 표창/인증/특허
        .certification__overlay
            i.fas.fa-times
        .certification__wrapper
            .certification__title
                span 표창장
                span
            .certification__list
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img02.png")
                    img(src="/static/images/sub/certification_img02_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img01.png")
                    img(src="/static/images/sub/certification_img01_f.jpg")
        .certification__wrapper
            .certification__title
                span 인증서
                span
            .certification__list
                .certification__item
                    img(src="/static/images/sub/certification_img12.png")
                    img(src="/static/images/sub/certification_img12_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img12.png")
                    img(src="/static/images/sub/certification_img12_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img12.png")
                    img(src="/static/images/sub/certification_img12_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img12.png")
                    img(src="/static/images/sub/certification_img12_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img12.png")
                    img(src="/static/images/sub/certification_img12_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img12.png")
                    img(src="/static/images/sub/certification_img12_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img12.png")
                    img(src="/static/images/sub/certification_img12_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img12.png")
                    img(src="/static/images/sub/certification_img12_f.jpg")
        .certification__wrapper
            .certification__title
                span 특허증
                span
            .certification__list
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
                .certification__item
                    img(src="/static/images/sub/certification_img19.png")
                    img(src="/static/images/sub/certification_img19_f.jpg")
    script(src="/static/js/certification.js")

