extends layouts/sub

block sub
    .company__title.sub__header
        h1
        p
        ul
            li
                a(href=`/company${routes.ceo}`) CEO 인사말
            li.on
                a(href=`/company${routes.history}`) 회사연혁
            li
                a(href=`/company${routes.certification}`) 표창/인증/특허
            li
                a(href=`/company${routes.local}`) 오시는 길
    section.sub__section
        .sub__title
            h1 회사연혁
        .history__title
            p 우정식품이 약 30년동안
            p 걸어온 발자취를 소개합니다.
        .history__year
            p.year__title 1990
            .year__wrapper
                ul
                    li
                        p.year__month 1990.08
                        p.year__content ㈜우정식품 설립
                    li
                        p.year__month 1997.02
                        p.year__content 
                            | 보건복지부 장관 표창
                            br
                            | (식품위생우수업체)
                ul
                    li
                        p.year__month 1995.11
                        p.year__content 중국 월수식품 유한공사 합작투자
                    li
                        p.year__month 1999.06
                        p.year__content 특허등록(당면제조방법 등 9종)
            p.year__title  2000
            .year__wrapper
                ul
                    li
                        p.year__month 2001.07
                        p.year__content 
                            | 벤처기업 인증서
                            br
                            | (제2001162138-3358)획득
                    li
                        p.year__month 2003.12
                        p.year__content ‘푸름찬’ 상표 등록
                ul
                    li
                        p.year__month 2001.12
                        p.year__content 
                            | ISO-9001:2000
                            br
                            | 품질경영시스템 인증서 획득
                    li
                        p.year__month 2008.03
                        p.year__content 
                            | 유망중소기업 선정(중소기업진흥공단)
                            br
                            | 기술 혁신형 중소기업(INNO-BIZ) 인증
            p.year__title  2010
            .year__wrapper
                ul
                    li
                        p.year__month 2012.10
                        p.year__content 포천시장 표창(중소기업 대상)
                    li
                        p.year__month 2017.03
                        p.year__content 
                            | 경기도지사 표창
                            br
                            | (지역경제발전유공)
                    li
                        p.year__month 2017.12
                        p.year__content 최첨단 설비 공장 신축 확장 이전
                    li
                        p.year__month 2019.03
                        p.year__content 
                            | 국제 식품안전경영시스템
                            br
                            | 인증 제도(FSSC-22000) 획득
                ul
                    li
                        p.year__month 2014.03
                        p.year__content
                            | 중부지방국세청장 표창
                            br
                            | (모범납세기업)
                    li
                        p.year__month 2017.11
                        p.year__content 
                            | 중소벤처기업부장관 표창
                            br
                            | (모범경영기업)
                    li
                        p.year__month 2018.09
                        p.year__content 스마트공장 구축
                    li
                        p.year__month 2019.04
                        p.year__content 
                            | 식품안전관리인증기준(HACCP)
                            br
                            | 적용업체 인증
