extends layouts/main

block content
    p HOME
    //- .carousel
    //-     .carousel__img_wrapper
    //-         .carousel__img(data-index="1")
    //-             h1 1
    //-         .carousel__img
    //-             h1 2
    //-         .carousel__img
    //-             h1 3
    //-         .carousel__img
    //-             h1 4
    //-     .carousel__btn
    //-         .carousel__btn-left
    //-             i.fas.fa-chevron-left
    //-         .carousel__btn-right
    //-             i.fas.fa-chevron-right
    //-     .carousel__dot
    //-         .carousel__dot-1.active
    //-         .carousel__dot-2
    //-         .carousel__dot-3
    //-         .carousel__dot-4