extends layouts/main

block content
    .slide
        .slide__screen
            .screen__content.content01
                .content__text
                    p
                        | 30년 동안 당면만을 위한
                        br
                        | 외길을 걸어온 우정식품
                    p
                        | 우정식품은 약 30년 동안 당면제품만을 전문적으로 생산하는
                        br
                        | 기업으로서 최고의 당면을 만들기 위해 최선의 노력을 다하고 있습니다.
            .screen__content.content02
                .content__text
                    p
                        | 세상이 전하는 푸른맛
                        br
                        | 푸름찬이 함께 합니다.
                    p
                        | 푸름찬은 보다 신선하고 건강한 식품을 통하여
                        br
                        | 고객 한분한분께 만족과 행복을 드리고자 합니다
            .screen__content.content03
                .content__text
                    p
                        | 30년 동안 당면만을 위한
                        br
                        | 외길을 걸어온 우정식품
                    p
                        | 우정식품은 약 30년 동안 당면제품만을 전문적으로 생산하는
                        br
                        | 기업으로서 최고의 당면을 만들기 위해 최선의 노력을 다하고 있습니다.
            .screen__content.content04
                .content__text
                    p
                        | 30년 동안 당면만을 위한
                        br
                        | 외길을 걸어온 우정식품
                    p
                        | 우정식품은 약 30년 동안 당면제품만을 전문적으로 생산하는
                        br
                        | 기업으로서 최고의 당면을 만들기 위해 최선의 노력을 다하고 있습니다.
        .button-prev
            i.fas.fa-chevron-left
        .button-next
            i.fas.fa-chevron-right
        .dots
            .dot.dot-active(data-index="0")
            .dot(data-index="1")
            .dot(data-index="2")
            .dot(data-index="3")
