extends layouts/sub

block sub
    .company__title.sub__header
        h1
        p
        ul
            li
                a(href=`/company${routes.ceo}`) CEO 인사말
            li
                a(href=`/company${routes.history}`) 회사연혁
            li
                a(href=`/company${routes.certification}`) 표창/인증/특허
            li.on
                a(href=`/company${routes.local}`) 오시는 길
    section.sub__section
        .sub__title
            h1 오시는 길
        .local__map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.551348414911!2d127.17325661530026!3d37.98759837972119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357d29b114ac6c0f%3A0x3597e7c524ff9149!2z6rK96riw64-EIO2PrOyynOyLnCDssL3siJjrqbQg7LaU64-Z66asIDM4MQ!5e0!3m2!1sko!2skr!4v1589523936109!5m2!1sko!2skr" frameborder="0" style="border:0;" allowfullscreen="")
        .local__address
            p.address__title ㈜ 우정식품
            .address__detail
                .addr__detail-column
                    i.far.fa-map
                    p 경기도 포천시 창수면 포천로 2737-7 (추동리 381)
                .addr__detail-column
                    i.fas.fa-phone-alt
                    p 031-531-0416~7
            .address__info
                span 대표자: 경정수
                span 당면, 전분, 교맥분, 과일채소가공업
                span 제조업, 도소매