extends layouts/sub

block sub
    .product__title.sub__header
        h1
        p
        ul
           li.on
               a(href=`/product${routes.prd_01}`) 푸름찬 당면
           li
               a(href=`/product${routes.prd_02}`) 자매품
    section.sub__section
        .sub__title
            h1 푸름찬 당면
        .prd-bg
            img(src="/static/images/sub/prd_01_main.png")
        .prd-showing
            .showing__img
                img(src="/static/images/sub/prd_01_01.png")
            .showing__wrapper
                .showing__number
                    p 01
                .showing__explain
                    p 고구마의 맛과 영양이 그대로
                        br
                        span 푸름찬 당면
                    p 
                        | 100% 고구마 전분을 원료로 만든 제품으로 면발이 쫄깃하고 부드러우며,
                        br
                        | 시간이 지나도 잘 퍼지지 않습니다.
                    .showing__icons
                        .showing__icon
                            img(src="/static/images/sub/prd_01_icon01.png")
                            h3
                                | 고구마 전분 원료
                                br
                                span 100%
                        .showing__icon
                            img(src="/static/images/sub/prd_01_icon02.png")
                            h3
                                | 면발의 쫄깃함
                                br
                                span 부드러움 UP
                        .showing__icon
                            img(src="/static/images/sub/prd_01_icon03.png")
                            h3
                                | 시간이 지나도
                                br
                                span 퍼짐이 덜한
        .prd-showing
            .showing__img
                img(src="/static/images/sub/prd_01_02.png")
            .showing__wrapper
                p.showing__number 02
                .showing__explain
                    p 용도에 따라 다양하게 요리하는
                        br
                        span 효 당면
                    p 
                        | 잡채, 찌개, 볶음, 순대·만두소 등 다양한 메뉴와 레시피 재료로 사용할 수 있습니다.
                    .showing__icons
                        .showing__icon
                            img(src="/static/images/sub/prd_01_icon04.png")
                            h3
                                | 다양한 메뉴
                                br
                                span 레시피 재료
                        .showing__icon
                            img(src="/static/images/sub/prd_01_icon05.png")
                            h3
                                | 잡채, 찌개, 볶음 등
                                br
                                span 활용성 GOOD

