extends layouts/sub

block sub
    .product__title.sub__header
        h1
        p
        ul
           li
               a(href=`/product${routes.prd_01}`) 푸름찬 당면
           li.on
               a(href=`/product${routes.prd_02}`) 자매품
    section.sub__section
        .sub__title
            h1 푸름찬 당면
        .prd-bg
            img(src="/static/images/sub/prd_02_main.png")
        .prd-showing
            .showing__img
                img(src="/static/images/sub/prd_02_02.png")
            .showing__wrapper
                .showing__explain-02
                    p 
                        | 쫄깃하고 부드러운 식감
                        br
                        | 옛 방식으로 숙성된 전통의 맛
                        br
                        span 망향국수
                    p 
                        | 진공 반죽기를 통한 반죽과 숙성 및 9단계 특수 다지기 기법으로 생산합니다.
                        br
                        | 6면 목재 마감 처리된 공간에서 자연 건조 방식으로 건조합니다.
                    .showing__icons
                        .showing__icon
                            img(src="/static/images/sub/prd_02_icon01.png")
                            h3
                                | 옛 방식으로 숙성
                                br
                                span 전통의 맛
                        .showing__icon
                            img(src="/static/images/sub/prd_02_icon04.png")
                            h3
                                | 6면 목재 마감 처리
                                br
                                span 자연 건조 방식
                        .showing__icon
                            img(src="/static/images/sub/prd_02_icon03.png")
                            h3
                                | 진공 반죽기 및
                                br
                                span 특수 다지기 기법
                        .showing__icon
                            img(src="/static/images/sub/prd_02_icon02.png")
                            h3
                                | 면발의 쫄깃함
                                br
                                span 부드러움 UP
