.brand__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Brand background */

.brand__bg {
  background: url(/static/images/sub/main_txt_bg_brand.png);
  background-size: cover;
  color: white;
  font-family: nanum-light;
  font-size: 33.6px;
  text-align: center;
  padding: 75px 0 52px;
  line-height: 1.4;
  letter-spacing: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.brand__bg p:first-child span {
  font-weight: bold;
}

.brand__bg p:nth-child(2) {
  width: 150px;
  height: 3.5px;
  background-color: white;
  margin: 30px 0;
}

.brand__bg p:nth-child(3) {
  width: 66%;
  font-size: 19.2px;
}

/* Brand title */

.brand__title {
  margin: 90px 0;
  display: flex;
  align-items: center;
  font-family: nanum-square;
  font-size: 33.6px;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0px;
}

.brand__title img {
  width: auto;
  height: auto;
  max-width: 90px;
  max-height: 90px;
}

.brand__title p {
  margin: 0 100px;
}

.brand__title span {
  color: #006ec7;
}

/* Brand line */

.brand__line {
  width: 17%;
  height: 1px;
  background-color: #006ec7;
  margin-bottom: 80px;
}

/* Brand text */

.brand__text {
  font-size: 17.6px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-bottom: 100px;
}

/* Brand vision */

.brand__vision ul {
  display: flex;
  justify-content: center;
}

.brand__vision li {
  width: 28%;
}
