body,
html {
  width: 100%;
  min-height: 700vh;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel__img_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 720px;
  font-size: 50px;
  color: white;
  top: 0;
  position: absolute;
  z-index: 0;
}

.carousel__img:nth-child(odd) {
  background-color: #393e46;
}

.carousel__img:nth-child(even) {
  background-color: #00adb5;
}

.showing {
  z-index: 1;
}
