.company__title {
  background-image: url(/static/images/sub/sub_tit_bg_com.png);
}

.company__title h1::after {
  content: "회사소개";
}

.company__title p::after {
  content: "우정식품을 소개합니다.";
}

.company__title li {
  width: 25%;
}
