/* Section slide */

#slide {
  position: relative;
  height: 720px;
  overflow: hidden;
}
.slide__screen {
  height: 100%;
  display: flex;
}
.screen__content {
  height: 100%;
}
.content01 {
  background-image: url(/static/images/20181001.png);
}
.content02 {
  background-image: url(/static/images/20181001_1.png);
}
.content03 {
  background-image: url(/static/images/20181001_2.png);
}
.content04 {
  background-image: url(/static/images/20181001_3.png);
}

/* Slide text */
.content__text {
  padding: 240px;
  font-family: "Jua";
  font-size: 42px;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  color: white;
  line-height: 1.3;
  letter-spacing: 0px;
}

.content02 .content__text {
  padding-top: 120px;
  padding-left: 240px;
}

.content__text p:first-child {
  margin-bottom: 12px;
}
.content__text p:last-child {
  font-size: 17.5px;
  font-family: nanum;
  line-height: 1.5;
}

/* Button */

.button-prev,
.button-next {
  cursor: pointer;
  position: absolute;
  font-size: 50px;
  top: 45%;
  color: white;
}

.button-prev {
  left: 1%;
}

.button-next {
  right: 1%;
}

/* Dot */

.dots {
  left: 47%;
  bottom: 12%;
  position: absolute;
  display: flex;
}

.dot {
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
}

.dot-active {
  width: 30px;
  border-radius: 5px;
}

/* Section product */

#product {
  background-image: url(/static/images/product_bg.png);
  background-size: cover;
  padding: 50px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0px;
}

/* Product title */

.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title p {
  font-family: noto;
  font-size: 67px;
}

.section__title p:nth-child(2) {
  font-family: nanum;
  font-size: 18px;
  margin: 22px 0 55px 0;
}

/* Product list */

.product__list {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.product__list li {
  width: 49%;
}

.list__item {
  padding: 65px 45px;
  color: #fff;
}

li:first-child .list__item {
  background-image: url(/static/images/product_img01.png);
  background-size: cover;
}

li:last-child .list__item {
  background-image: url(/static/images/product_img02.png);
  background-size: cover;
}

.list__item p {
  font-size: 37px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #00000091;
}

.list__item p:nth-child(2) {
  font-family: nanum-light;
  font-size: 16px;
  margin: 15px 0;
  line-height: 1.5;
}

.list__item a {
  font-family: noto;
  display: inline-block;
  padding: 16px 60px;
  color: black;
  background-color: white;
  text-shadow: none;
  border: 1px solid #aaa49f;
  border-radius: 5px;
  transition: 0.3s;
}

.list__item a:hover {
  background-color: #cfc17c;
  border-color: #cfc17c;
  color: white;
}

/* Section cooking */
#cooking {
  background-image: url(/static/images/delightful_bg.png);
  background-size: cover;
  padding: 50px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0px;
}

/* Cooking list */

.cooking__list {
  color: white;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.cooking__item {
  width: 295px;
  height: 295px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

li:first-child .cooking__item {
  background-image: url(/static/images/20181002.png);
}

li:nth-child(2) .cooking__item {
  background-image: url(/static/images/20181002_1.png);
}

li:nth-child(3) .cooking__item {
  background-image: url(/static/images/20181002_2.png);
}

li:last-child .cooking__item {
  background-image: url(/static/images/20181002_3.png);
}

.cooking__item .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(194, 185, 139, 0.9);
  opacity: 0;
  transition: 0.5s;
}

.cooking__item p {
  font-size: 33px;
  font-weight: bold;
  position: relative;
  top: 3%;
  transition: 0.2s;
}

.cooking__item a {
  font-size: 17px;
  font-weight: bold;
  border-bottom: 1.5px solid white;
  position: relative;
  top: 8%;
  opacity: 0;
  transition: 0.2s;
}

/* Cooking item hover */

.cooking__item:hover .overlay {
  opacity: 1;
}

.cooking__item:hover p {
  top: -2%;
}

.cooking__item:hover a {
  top: 3%;
  opacity: 1;
}

/* Section board */

#board {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.board__item {
  width: 47%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 70px;
  letter-spacing: 0;
}

/* Board columns */

.board__item .item__column:last-child {
  text-align: right;
}

/* Board p */

.item__column p:first-child {
  font-size: 29px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #0099ff;
  display: inline-block;
}

.item__column p:last-child {
  font-size: 16px;
  line-height: 1.5;
}

/* Board a */

.item__column a:first-child {
  border: 1px solid #717171;
  padding: 5px 7px;
  display: inline-block;
  color: #717171;
  margin-bottom: 28px;
}

/* Board item content */

.item__content span {
  color: #0099ff;
  font-weight: bold;
  padding-right: 5px;
}

/* Board notice */

.board__item:first-child {
  border-right: 1px solid #dcdcdc;
  padding-right: 35px;
}

/* Section Video */

#video img {
  width: 100%;
}
