@import "font.css";
@import "reset.css";
@import "header.css";
@import "footer.css";
@import "home.css";
@import "company.css";
@import "intro.css";
@import "product.css";
@import "board.css";
@import "ceo.css";
@import "history.css";

body,
html {
  color: #323338;
  width: 100%;
  height: 70vh;
  font-family: "nanum", sans-serif;
  letter-spacing: -1px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
}
