@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "reset.css";
@import "header.css";
@import "footer.css";

body,
html {
  color: #323338;
  width: 100%;
  height: 70vh;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.box {
  width: 100%;
  height: 3000px;
  background-color: coral;
}
